#gift_bit,#renewal_bit {display:none;background:#EEEEEE}
.hform{
    width:200px;
    font-family: "Trebuchet MS", Trebuchet, Arial, Verdana;
    font-size: 13px;
    color: #444444;
    font-weight: normal;
}

#gift_bit .hform, #renewal_bit .hform
{width:170px;padding-left:30px}
.hform2{}

#subscribediv {padding:10px}

img[alt=flag] {vertical-align: top}

.heading_large{font-size:24px;}
